# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

OPEN_AI_API_KEY=
# Drizzle
DATABASE_URL="file:./db.sqlite"
EXT_PUBLIC_API_BASE_URL="https://facul.subarashii.com.br/contas/api"
